@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,800&display=swap');

:root {
    --blue: #0057B7;
    --yellow: #FFDD00;
    --transition-speed: 600ms;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--yellow);
    color: var(--blue);
}

header {
    justify-content: center;
    text-align: center;
    padding: 10px 0 25px 0;
    background-color: var(--blue);
    color: var(--yellow);
}

nav {
    position: fixed;
    background: var(--yellow);
    z-index: 999;
    /* transition: width 200ms ease; Animation for nav hover */
}

.navbar-nav {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;   
    height: 100%;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch;
}

.logo i {
    transform: rotate(0);
    transition: var(--transition-speed);
}

.nav-item {
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--blue);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

.link-text {
    display: none;
    margin-left: 1rem;
}

.fa-fw { 
    transform: scale(1.75); 
}

.nav-link i {
    margin: 0 1.5rem;
} 

nav:hover .logo i {
    transform: rotate(-540deg);
}

nav:hover .logo .nav-link {
    /* Text color stays blue */
    filter: grayscale(0%) opacity(1);
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    margin-left: 5rem;
    margin-right: 5rem;
    padding: 1rem;
}

/* Small Screens */
@media only screen and (max-width: 600px) {
    main {
        margin: 0;
    }
    
    nav {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

}

/* Large Screens */
@media only screen and (min-width: 600px) {
    nav {
        width: 5rem;
        height: 100vh;
    }

    nav:hover {
        width: 16rem;
    }

    nav:hover .link-text {
        display: block;
    }

}

h1 {
    font-size: 30px;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Card for request / donation */

.card {
    position: relative;
    width: 320px;
    height: 420px;
    border-radius: 20px;
    border: 2px solid var(--blue);
    background: var(--yellow);
    margin: .25rem 0;
    overflow: hidden;
}

.card::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 420px;
    top: -50%;
    left: 0;
    background: var(--blue);
    transform: skewY(-15deg);
    transition: 0.5s;
}

.card:hover::before {
    transform: skewY(0deg);
}

.card .img-box {
    position: relative;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    z-index: 1;
    color: var(--yellow);
}

.card .img-box img {
    max-height: 220px;
    transition: 0.5s;
}

.card:hover .img-box img {
    max-height: 200px;
    padding-bottom: 15px;
}

.card .content {
    position: relative;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.card .content h1 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .content .get {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    text-decoration: none;
    background: var(--blue);
    color: var(--yellow);
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .content .get {
    top: 0;
    opacity: 1;
}

@media only screen and (max-width: 850px) {

    .card::before {
        transform: skewY(0deg);
    }

    .card .content .get {
        top: 0;
        opacity: 1;
    }
}

/* End card */

/* Card for specific product */

/* responsive */
@media (max-width: 1080px) {
    .container {
        height: auto;
    }
    .container .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }
    .container .imgBx img {
        left: initial;
        max-width: 100%;
        transform: rotate(0deg);
    }
    .details {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }
    .container .details p {
        margin-left: 0;
        max-width: 100%;
    }
}

footer {
    position: fixed;
    right: 16px;
    bottom: 12px;
}

footer a {
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}
/* End specifics */

.post-form {
    width: 400px;
    border-radius: 3rem;
    text-align: center;
    position: relative;
    background: var(--blue);
    color: var(--yellow);
}

.input-group {
    margin: 5px;
    text-align: center;
}

.text-input {
    display: inline-block;
    width: auto;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 0.9rem;
    color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.text-input-75 {
    width: 75%;
    max-width: 75%;
    padding: .4rem .75rem;
    margin: 0.1rem 0;
}

.text-input:hover {
    border-color: var(--yellow);
}

.text-input:focus { /* If someone hovers while inputting */
    border-color: var(--orange);
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    color: var(--yellow);
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 40px;
    padding: .375rem .75rem;
    margin: 15px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.yellow {
    color: var(--blue);
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
}

.underline {
    text-decoration: underline;
}

.align-left {
    text-align: left;
}
