{% extends "web/layout.html" %} 

{% block header %}
    <h1>Home</h1>
{% endblock header %}

{% block body %}
    <h1>Main content</h1>
    {% for post in images %}
    <div class="card">
        <div class="img-box">
        {% if post.img %}
            <img src="{{ post.img.url }}">
        {% else %}
            <div class="content">
                <i class="fas fa-image fa-fw"></i>
                <p>No Image</p>
            </div>
        {% endif %}
        </div>
        <div class="content">
            <h1>{{ post.title }}</h1>
            <h2 class="category">{{ post.category }}</h2>
            <a href="{% url 'item' post.get_type post.id %}" class="get">
                {% if post.get_type == "donation" %}
                Get item
                {% else %}
                Donate item
                {% endif %}
            </a>
        </div>
    </div>
    {% endfor %}
{% endblock body %}