{% extends 'web/layout.html' %}

{% block header %}
    <h1>{{ item.title }}</h1>
{% endblock header %}

{% block body %}
    <div class="item-card">
        <div class="card__cover">
            {% if item.img %}
                <img src="{{ item.img.url }}">
            {% else %}
                <div class="content">
                    <i class="fas fa-image fa-fw"></i>
                    <p>No Image</p>
                </div>
            {% endif %}
        </div>
        <div class="card__content">
            <h1>{{ item.title }}</h1>
            <h2 class="category">{{ item.category }}</h2>
            <p class="username"><a href="{% url 'user_posts' item.creator.username %}">@{{ item.creator.display_name }}</a></p>
            <div class="item__description">
                <p>{{ item.description }}</p>
            </div>
            <p>Location: {{ item.creator.location }}</p>
            {% if request.user == item.creator and not item.ended %}
                <a class="btn yellow complete" href="{% url 'close_item' item.get_type item.id %}">Completed / Finished</a>
            {% elif not item.ended and user.is_authenticated %}
                <a href="mailto:{{ item.creator.email }}" class="btn yellow">{{ item.get_verb|title }} item</a>
            {% elif not user.is_authenticated %}
                <a href="{% url 'login' %}" target="_blank" class="btn yellow">Please login to {{  item.get_verb }} the item!</a>
            {% elif request.user == item.creator %}
                <a class="btn yellow complete" href="{% url 'index' %}">You've closed this item page.</a>
            {% else %}
                <a href="{% url 'index' %}" class="btn yellow">Item donated/taken.</a>
            {% endif %}
        </div>
    </div>
{% endblock body %}