{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="{% static 'web/favicon.png' %}"/>
    <title>{% block title %}Help Ukrainians!{% endblock title %}</title> {% comment %}Defaults to this{% endcomment %}

    <link rel="stylesheet" href="{% static 'web/style.css' %}" />
    <script src="https://kit.fontawesome.com/171a49472a.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock head %}
  </head>
  <body>
    <header>
      <p>Help your fellow Ukrainians!</p>
      {% block header %}{% endblock header %}
    </header>
    <nav>
      <ul class="navbar-nav">
        <li class="logo">
          <a href="{% url 'index' %}" class="nav-link">
            <span class="link-text">Ukraine</span>
            <i class="fas fa-angle-double-right fa-fw"></i>
          </a>
        </li>

        <li class="nav-item">
          <a href="{% url 'index' %}" class="nav-link">
            <i class="fas fa-home fa-fw"></i>
            <span class="link-text">Home</span>
          </a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'post_request' %}" class="nav-link">
            <i class="fas fa-question-circle fa-fw"></i>
            <span class="link-text">Request</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'post_donation' %}" class="nav-link">
            <i class="fas fa-exclamation-circle fa-fw"></i>
            <span class="link-text">Give</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'user_posts' user.username %}" class="nav-link">
            <i class="fas fa-user fa-fw"></i>
            <span class="link-text">Your posts</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            <i class="fas fa-sign-out-alt fa-fw"></i>
            <span class="link-text">Logout</span>
          </a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">
            <i class="fas fa-sign-in-alt fa-fw"></i>
            <span class="link-text">Login</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link">
            <i class="fas fa-user-plus fa-fw"></i>
            <span class="link-text">Sign up</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </nav>
    {% comment %}TODO: Floating sidebar for navigation{% endcomment %}
    <main>
      {% block body %} {% endblock %}
    </main>
  </body>
</html>
